extends layout

block content
  h1.centrar= title
    div.card.centrar
      div.container.centrar
        p.centrar Bienvenido #{title}
        form(action="fileupload", method="post", enctype="multipart/form-data") 
          div.invoiceBox
            label
              div.boxFile seleccionar archivo
              input(type="file", name="filetoupload")
          input(type="submit", value="Upload File")
        form(action="/archivos", method="get", enctype="multipart/form-data") 
          div.invoiceBox
          input(type="submit", value="Ver Archivos")

        ul
  